/* You can add global styles to this file, and also import other style files */
/* h1 {
    font-family: sans-serif;
} */

/* body {
    background: white;
} */

.logo { 
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    /* word-spacing: 0.6rem; */
    position: fixed;
    top: .3rem;
    left: 1rem;
    z-index: 10;
    mix-blend-mode: difference;
}