.hero-bg {
    /* position: absolute; */
    /* top: 0;
    left: 0;
    right: 0; */
    height: 100svh;
    width: 100%;
    background: linear-gradient(rgba(195, 0, 255, 0.541) 0%,rgba(96, 9, 235, 0.603) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}